*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
     width:100%;

}

header>div{
    display: flex;
    background-color: rgb(40,43,48);
    color: white;
}
header>div>span{
     padding: 8px 10px 8px 10px;
}
#top_bar{
     background-color: rgb(53,58,64);
    width: 100%;
}
#top_bar>nav{
    display: flex;
    flex-direction: row;
}
#top_bar>nav>span>a{
    display: block;
    padding: 10px;
    color: grey;
    text-decoration: none;
}
#top_bar>nav>span>a:hover{
    color: white;
 }

main{
    display: flex;
    flex-direction: row;
}

#side_links{
    display: flex;
    flex-direction: column;
}
#side_links>span{
    display: block;
    padding:15px;
}
#side_searchBar>input{
    padding: 100px;
}
#Dep_Wins{
    display: flex;
    flex-direction: column;
}
#Dep_N2{
    display: flex;
    flex-direction: row;
}