<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>

<body>
<section><h1> 一个HTML的例子 </h1> <div>一个HTML的例子</div>
    <div> <span> 这是一个html的例子</span><span> 来试试什么是inline 和 block element</span></div> <div> inline 元素会自动'合并' ， 而block会叠加</div>
    <h2> 如果两个inline元素之间有一个block元素呢？</h2>
      <div> <span> 这是一个html的例子</span> <div>我是block</div> <span> 来试试什么是inline 和 block element</span></div>
    <button id="button" title="clickme"> clickme</button>
    <span1 id="span1"></span1>
    <a href="http://www.bing.com">www.baidu.com</a>
    <em></em>
    <img src="www" alt="">
    <script> let button1=document.querySelector('#button');
    let span1=document.querySelector('#span1');
    let flag=0;
    function function1(){
        if(flag===0){ span1.innerHTML='you clicked the button';flag=1}
        else{span1.innerHTML='';flag=0;}
    }
        button1.onclick=function1;
    </script>


    <div>11111111</div>
    <div>22222222</div>
    <span>s11111111</span><span>2222222</span>
</section>
</body>
</html>


